// se establecen valores al buscador principal del inicio, como contenedor principal
.buscador
    display: flex
    justify-content: end
    text-align: right
    padding-top: 1rem
    font-family: $fuente_inter
    // se establecen valores a la caja del input, donde se escribiría el texto a buscar
    &__caja
        padding-left: 1em
        height: 2.2rem
        width: 40rem
        border-top-left-radius: 10px
        border-bottom-left-radius: 10px
        font-size: $xs
        outline: none
    // se establecen valores para el botón que debe de ser pulsado para buscar el texto introducido en el input
    &__boton
        display: flex
        align-items: center
        justify-content: center
        background-color: $color_primario
        height: 2.2rem
        width: 2rem
        border-top-right-radius: 10px
        border-bottom-right-radius: 10px
        cursor: pointer
        text-decoration: none
        text-align: center
        border: 1px solid $color_oscuro
        @media (max-width: 800px)
            height: 2rem
        // se establecen valores para la imágen de la lupa que aparece en el botón de búsqueda
.buscador__boton:hover,
.buscador__boton:hover .material-symbols-outlined
    background-color: green
    cursor: pointer

.buscador__boton__icono
    color: black

.buscador__boton:hover .buscador__boton__icono
    color: white

// se añaden propiedades al contenedor de búsqueda del encabezado
.buscador-encabezado
    font-family: $fuente_inter
    display: flex
    margin-top: 0px
    position: absolute
    left: 0
    @media (max-width: 1300px)
        position: static
    // se añaden propiedades al input de búsqueda del encabezado
    &__caja
        padding-left: 1em
        height: 2.2rem
        width: 14rem
        border-top-left-radius: 10px
        border-bottom-left-radius: 10px
        font-size: $xs
        outline: none
        font-family: $fuente_inter
        @media (max-width: 1300px)
            width: 15rem
        @media (max-width: 800px)
            font-size: $xxs
            height: 2rem
        @media (max-width: 720px)
            width: 10rem
    // se añaden propiedades al botón de búsqueda del encabezado

    // se añaden propiedades al botón de búsqueda del encabezado al pasar el ratón por encima
    &__boton:hover
        background-color: $color_secundario_oscuro
    @media (max-width: 1200px)
        width: 100%

.buscador-usuario
    margin-top: 0.5rem
    margin-bottom: 0.5rem
    display: flex
    justify-content: center
    align-items: center
    // se añaden propiedades al input de búsqueda del usuario
    &__caja
        padding-left: 1em
        height: 2.2rem
        width: 20rem
        border-top-left-radius: 10px
        border-bottom-left-radius: 10px
        font-size: $xs
        outline: none
        font-family: $fuente_inter
        @media (max-width: 1300px)
            width: 15rem
        @media (max-width: 800px)
            font-size: $xxs
            height: 2rem
        @media (max-width: 720px)
            width: 10rem
    // se añaden propiedades al botón de búsqueda del encabezado

    // se añaden propiedades al botón de búsqueda del encabezado al pasar el ratón por encima
    &__boton:hover
        background-color: $color_secundario_oscuro
    @media (max-width: 1200px)
        width: 100%
