// Estilos de botones
.boton
    // Se define el texto que posee el botón.
    background-color: $color_secundario_oscuro
    border: 1px solid $color_oscuro
    padding: 10px
    height: 2.8rem
    width: 8rem
    border-radius: 5px
    color: $color_claro
    font-size: $xs
    font-family: $fuente_inter
    cursor: pointer
    text-align: center
    display: flex
    align-items: center
    justify-content: center
.boton:hover
        background-color: $color_secundario_claro
.boton--ancho
    width: 25rem
    display: inline
    @media (max-width: 1200px)
        width: 20rem
    @media (max-width: 980px)
        width: 15rem
    @media (max-width: 800px)
            width: 10rem
    @media (max-width: 600px)
            width: 8rem
            font-size: 0.8rem
    @media (max-width: 500px)
            width: 7rem
            height: auto
    @media (max-width: 460px)
            width: 5rem
    @media (max-width: 370px)
            width: 3.5rem
            font-size: $xxs