
// Estilos para el cuadro desplegable que te permite iniciar sesión.
.iniciar_sesion
    height: 600px
    width: 500px
    background-color: $color_claro
    position: fixed
    top: 50%
    left: 50%
    margin: -300px 0 0 -250px
    z-index: 999
    display: flex
    flex-direction: column
    justify-content: space-evenly
    padding: 1.5rem
    // Se define las propiedas para el botón cerrar, que te permite cerrar el desplegable al pulsar.
    &__cerrar
        width: 25px
        position: absolute
        top: 1px
        right: 10px
        font-size: 2rem
        color: $color_oscuro
    // Se define las propiedades para el título que representa el funcionamiento del desplegable.
    &__titulo
        width: 100%
        color: $color_oscuro
        font-size: $xl
        font-family: $fuente_oswald
        text-align: center
    // Se define las propiedades para la caja que engloba los inputs del desplegable.
    &__caja
        display: flex
        flex-direction: column
        justify-content: center

        &__recordar
            margin-top: 2rem
            font-size: $xs
            align-self: center
        &__informativo1
            display: none
        &__informativo1--visible
            text-align: center
            display: flex
            color: $color_rojo
            font-size: $xs
            margin-left: 2.8rem
        // Se define las propiedades de los inputs del desplegable.
        &__elemento
            margin: 2rem 2rem 0 2rem
            width: 80%
            height: 4rem
            padding-left: 1em
            font-size: $xs
            align-self: center
            position: relative
    // Se define el botón que te redirigirá a la página del acceso a usuario, una vez que se ha iniciado sesión.
    &__boton
        margin-top: 1rem
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        align-self: center
        // Se define el texto que posee el botón.
        &__opcion
            background-color: $color_secundario_oscuro
            border: 1px solid $color_oscuro
            padding: 10px
            height: 2.8rem
            width: 8rem
            border-radius: 5px
            color: $color_claro
            font-size: $xs
            font-family: $fuente_inter
            cursor: pointer
            text-align: center
.iniciar_sesion__caja__elemento + .material-symbols-outlined
    position: absolute
    right: 16%
    top: 61.5%
    transform: translateY(-50%)
    cursor: pointer
