
// se establecen valores al buscador principal del inicio, como contenedor principal
.encabezado__menu
    background-color: $color_primario
    height: 1.6rem
    width: 1.6rem
    cursor: pointer
    text-decoration: none
    display: block
    text-align: center
    &__lista
        position : relative
        top: 1rem
        left: -12rem
        width: 12rem
        background-color: $color_primario
        list-style-type: none
        z-index: 999
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px
        &__elemento
            color : $color_oscuro !important
            text-decoration : none !important
    @media (max-width: 920px)
        height: 2rem
        width: 2rem
.encabezado__menu__icono:hover
    color : white