.paginacion
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
    &__boton
        dislay: inline
        margin-bottom: 2rem
        margin-left: 0.5rem
        margin-right: 0.5rem
        width: 3rem
.paginacion--usuarios
    position: fixed
    bottom: 1rem
    left: 43.75%