.deporte 
  font-weight: bold
  font-size: 24px
  margin-bottom: 20px
.partidos
    display : flex
    align-items : center
    flex-direction : column
    height: 100%
.interfaz
    margin-top : 1rem
    margin-bottom : 1rem
.partido
    position : relative
    font-family : $fuente_inter !important
    background-color : $color_terciario
    color : $color_oscuro !important
    border-radius : 25px
    text-align : center
    margin-bottom : 1.6rem
    width : 60rem
    text-decoration: none !important
    
    &__resultado
        position: absolute
        top: 0
        right: 0
        color : $color_secundario_oscuro
        cursor : pointer
    &__deporte
        padding : 0.5rem
        font-family: $fuente_oswald
        font-weight: bold
    &__datos
        display : flex
        justify-content : center
        &__rival
            display : flex
            padding : 1rem
            &__imagen
                width : 4.25rem
                height : 4.25rem
            &__nombre
                display : flex
                height : 4rem
                width : 4rem
                align-items: center
                justify-content : center
                font-weight : bold
                margin-left : 1rem
                margin-right : 1rem
        &__detalles
            padding : 1rem
            margin-left : 0.5rem
            margin-right : 0.5rem
            display : flex
            flex-direction : column
            align-items: center
            justify-content : center
            &__hora
                margin-top : 0.5rem
                margin-bottom : 0.5rem
